* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 400;
	text-align: center;
}

header {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 100%;
	align-items: center;
	font-family: blackcurrant, sans-serif;
	font-style: normal;
	font-size: 1.5em;
	font-weight: 400;
	color: #5b5958;
	border-bottom: solid #c1c1c1;
}

.left-justify {
	text-align: left;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

article {
	width: 100%;
	margin-top: 15px;
}

article img {
	border-radius: 20px 0 20px 0;
	width: 100%;
}

.hero {
	margin-top: 10px;
}

.hero img {
	width: 100%;
}

.social {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 10px;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #406cb2;
}

a h3{
	color: #406cb2;
	font-size: 1.5em
}

.social {
	display: flex;
	align-items: center;
	justify-content: space-around;
	align-items: center;
	color: #fed564;
	border-radius: 5px 0 5px 0;
	background-color: #c1c1c1
}

.social a {
	color: #406cb2;
	font-size: 1.25em;
}

@media screen and (min-width: 760px){
	main {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	.site-owner {
		text-align: right;
		margin-left: auto;
	}

	article {
		width: 30%;
	}

	header {
		flex-direction: row;
	}
}
